[submodule "system"]
	path = system
	url = https://github.com/kohana/core.git
[submodule "modules/mongodb-php-odm"]
	path = modules/mongodb-php-odm
	url = git://github.com/colinmollenhour/mongodb-php-odm.git
