[submodule "mongodb-php-odm/profiler_binary_data/system"]
	path = mongodb-php-odm/profiler_binary_data/system
	url = git://github.com/kohana/core.git
[submodule "mongodb-php-odm/profiler_binary_data/modules/mongodb-php-odm"]
	path = mongodb-php-odm/profiler_binary_data/modules/mongodb-php-odm
	url = git://github.com/colinmollenhour/mongodb-php-odm.git
